{% extends "patient/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title</title>
  </head>
  <body>
    <br>
    <div class="header">
      <b>List of Appointments</b>

    </div><br>

    <table border= "2" style= "width:800px;margin:auto">
      <thead>
        <tr>
          <th style="padding-left:20px; "> No.
            <br>
            <br>
          </th>
          <th style="padding-left:20px; "> Patient Name
              <br>
              <br>
          </th>
          <th style="padding-left:20px; "> Doctor
              <br>
              <br>
          </th>
          <th style="padding-left:20px; "> Gender
              <br>
              <br>
          </th>
          <th style="padding-left:20px; "> Time
              <br>
              <br>
          </th>
          <th style="padding-left:20px; "> Date
              <br>
              <br>
          </th>

        </tr>
      </thead>
      <tbody>
    {% for appointment in appointments %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'patient-appointment' appointment.id %}">{{ appointment.patient }}</td>
          <td>{{ appointment.doctor }}</td>
          <td>{{ appointment.gender }}</td>
          <td>{{ appointment.time_of_day }}</td>
          <td>{{ appointment.date }}</td>
        </tr>
    {% endfor %}
      </tbody>

    </table>
    <br>
    <br>

    <p class="change_link"><b>
        Want to Book an Appointment ? </b>
        <a href="{% url 'patient-createappointment' %}" class="to_register"><b> Book Appointment</b></a>
    </p>

  </body>
</html>
{% endblock content %}
