{% extends "patient/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
</head>
<body>
    <div class="container">

        <section>
            <div id="container_demo">
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">
                    <div id="login" class="animate form">
                            <div class="container">
                              <h2><b> Create Appointment </b></h2><br>
                              <form action="{% url 'patient-createappointment' %}" method="POST" autocomplete="on">
                                {% csrf_token %}
                              <br>  {{ form }} <br>

                                <div style="margin-top:2rem" class="form-group">
                                  <p>
                                      <input href="{% url 'patient-appointment' %}" class="btn btn-success" role="button"
                                          type="submit" value="Book" name="register">
                                  </p>
                                </div>



                            <!-- <p class="change_link"><b>
                                Want to View All Appointments ? </b>
                                <a href="{% url 'patient-appointment' %}" class="to_register"><b>Appointments</b></a>
                            </p> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>

{% endblock content %}
