{% extends "patient/base.html" %}
{% block content %}
  {% for appointment in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#"> {{ appointment.Date|date:"F d, Y" }}  </a>
          <!-- <small class="text-muted"> {{ appointment.Date|date:"F d, Y" }} </small> -->
        </div>

        <h3><a class="article-title" href="{% url 'patient-appointment' %}"> {{ appointment.patient_name }} </a></h3>
        <h5> {{ appointment.gender }} </h5>
        <p class="article-content"> {{ appointment.doctor }} </p>
      </div>
    </article>

  {% endfor %}
  <br>
  <br>

  <p class="change_link"><b>
      View All Appointments ? </b>
      <a href="{% url 'patient-appointment' %}" class="to_register"><b> Appointments </b></a>
  </p>

{% endblock content %}
