{% endblock content %}
{% for appointment in posts %}

    <div class="media-body">
      <!-- <div class="article-metadata">
        <a class="mr-2" href="#"> {{ appointment.Patient_Id }}</a>
        <a> {{ appointment.Patient_Id }}</a>
        <small class="text-muted"> {{ appointment.Date }} </small>
      </div> -->
      <a> {{ appointment.patient }}</a>
      <small class="text-muted"> {{ appointment.date }} </small>
      <h4><a> {{ appointment.doctor }} </h4>
    </div>

    <!-- {% for doctor in posts %} -->
    <!-- Doctors -->
    <!-- <div class="media-body">
      <a> {{ doctor.Doctor_Id }} </a>
      <h4> {{ doctor.Doctor_Name }} </h4>
    </div> -->

      {% for patient in posts %}
    <!-- patient -->
    <div class="media-body">
      <a> {{ patient.patient_name }} </a>
      <h4><a> {{ patient.gender }} </h4>
    </div>


    {% endfor %}
  {% endfor %}
{% endfor %}
